<div class="impressum-page">
  <div class="container">
    <div class="impressum-content" #impressumContent>
      <h1>{{ languageService.t('impressum.title') }}</h1>
      
      <h2>{{ languageService.t('impressum.subtitle') }}</h2>
      <p>
        Marco Mundt<br>
        Frontend Developer<br>
        An der Ziegelei 18<br>
        52355 Düren
      </p>
      
      <h2>{{ languageService.t('impressum.contact') }}</h2>
      <p>
        E-Mail: marcomundt&#64;mundtwerk.com<br>
        Telefon: +49 177 3434611
      </p>
      
      <h2>{{ languageService.t('impressum.responsibleContent') }}</h2>
      <p>
        Marco Mundt<br>
        An der Ziegelei 18<br>
        52355 Düren
      </p>
      
      <h2>{{ languageService.t('impressum.contentLiability') }}</h2>
      <p>
        {{ languageService.t('impressum.contentLiabilityText') }}
      </p>
      
      <h2>{{ languageService.t('impressum.linkLiability') }}</h2>
      <p>
        {{ languageService.t('impressum.linkLiabilityText') }}
      </p>
      
      <a routerLink="/home" class="back-link">{{ languageService.t('impressum.backToPortfolio') }}</a>
    </div>
  </div>
</div>