<section id="skills" class="skills">
  <div class="container">
    <div class="skills-content">
      <div class="skills-header" #skillsHeader>
        <h2 class="section-title">{{ languageService.t('skills.title') }}</h2>
        <p class="skills-description">{{ languageService.t('skills.description') }}</p>
      </div>
      
      <div class="skills-grid" #skillsGrid>
        <div class="skill-item">
          <div class="skill-icon">
            <img src="05_icons/html.png" alt="HTML" class="skill-image css">
          </div>
          <span class="skill-name">HTML</span>
        </div>
        
        <div class="skill-item">
          <div class="skill-icon">
            <img src="05_icons/css.png" alt="CSS" class="skill-image css">
          </div>
          <span class="skill-name">CSS</span>
        </div>
        
        <div class="skill-item">
          <div class="skill-icon">
            <img src="05_icons/javascript.png" alt="JavaScript" class="skill-image css">
          </div>
          <span class="skill-name">JavaScript</span>
        </div>
        
        <div class="skill-item">
          <div class="skill-icon">
            <img src="05_icons/angular.png" alt="Angular" class="skill-image css">
          </div>
          <span class="skill-name">Angular</span>
        </div>
        
        <div class="skill-item">
          <div class="skill-icon">
            <img src="05_icons/typescript.png" alt="TypeScript" class="skill-image css">
          </div>
          <span class="skill-name">TypeScript</span>
        </div>
        
        <div class="skill-item">
          <div class="skill-icon">
            <img src="05_icons/git.png" alt="Git" class="skill-image css">
          </div>
          <span class="skill-name">Git</span>
        </div>
        
        <div class="skill-item">
          <div class="skill-icon">
            <img src="05_icons/figma.png" alt="Figma" class="skill-image css">
          </div>
          <span class="skill-name">Figma</span>
        </div>
        
        <div class="skill-item">
          <div class="skill-icon">
            <img src="05_icons/adobeXd.png" alt="Adobe XD" class="skill-image css">
          </div>
          <span class="skill-name">Adobe XD</span>
        </div>
      </div>
    </div>
  </div>
</section>